body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9fa5a5;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #9fa5a5;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #9fa5a5;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #9fa5a5;
}

h4 {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 11px;
  font-weight: 700;
}

h6 {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 10px;
  line-height: 14px;
}

select {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  height: 28px;
  padding: 0 32px 0 8px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  font-size: 11px;
  color: #283636;
  appearance: none;
}

select:focus {
  border: 1px solid #18a0fb;
  box-shadow: 0 0 0 1px #18a0fb;
  outline: none;
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

table tr {
  border: none;
  display: flex;
}

table td {
  padding: unset;
  width: 26px;
  height: 26px;
  padding-right: 6px;
  padding-bottom: 6px;
  box-sizing: content-box;
}

.dimensions-selection-container {
  padding: 16px;
}

.input__radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

table input[type="radio"] ~ label {
  width: 26px;
  height: 26px;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.175);
  position: absolute;
}

table input[type="radio"] ~ label:hovered {
  cursor: pointer;
}

table.hovered input[type="radio"] ~ label.hovered {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.315);
}

table input[type="radio"] ~ label.active {
  background-color: #f0fbfc;
  box-shadow: 0 0 0 2px #019caa;
}

table.hovered input[type="radio"] ~ label.active.hovered {
  background-color: #c6f2f6;
  box-shadow: 0 0 0 2px #019caa;
}

.input-container {
  display: flex;
  user-select: none;
  align-items: center;
  padding-right: 8px;
  border: 1px solid transparent;
  height: 28px;
  margin: 1px 0;
  box-sizing: border-box;
  border-radius: 2px;
}

.table-dimensions-config .input-container {
  padding-left: 8px;
  grid-column-end: span 4;
}

.table-dimensions-config .input-container:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.input-container label:not(.input-container),
.input-container .label {
  display: flex;
  align-items: center;
  height: 32px;
  font-size: 11px;
  color: #b3b3b3;
  fill: #b3b3b3;
  text-align: center;
}

.table-dimensions-config .input-container input {
  border: 1px solid transparent;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 1px;
}

.table-dimensions-config .input-container focus {
  border-color: transparent;
}

.input-container input {
  color: #333;
  fill: #333;
  border-radius: 2px;
  cursor: default;
  box-sizing: border-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 11px;
  background-color: transparent;
  width: 100%;
  padding: 0 0 0 7px;
  padding-left: 7px;
  height: 28px;
  background-clip: padding-box;
  min-width: 0;
}

.input-container input:focus {
  outline: none;
  border: 1px solid #18a0fb;
  box-shadow: 0 0 0 1px #18a0fb;
}

.table-dimensions-config {
  display: flex;
  width: calc(100% + 8px);
  margin-bottom: 16px;
  position: relative;
  right: 8px;
  gap: 8px;
}

.table-dimensions-config .input-container {
  flex-grow: 1;
}

.number-of-cols,
.number-of-rows {
  border: none;
}

.number-of-cols:focus,
.number-of-rows:focus {
  outline: none;
}

.cta-container {
  bottom: 16px;
  width: 100%;
  display: flex;
  gap: 8px;
  position: absolute;
  box-sizing: border-box;
  right: 16px;
  padding-top: 8px;
  justify-content: flex-end;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  text-align: center;
  flex-shrink: 0;
  height: 32px;
  line-height: 30px;
  max-width: 200px;
  padding: 0 11px;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 6px;
  color: #333;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-clip: padding-box;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.053px;
}

.btn-primary {
  background-color: #18a0fb;
  border-color: transparent;
  color: #fff;
  background-clip: border-box;
}

button[disabled] {
  border-color: #d1d4d4;
  color: #d1d4d4;
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.015);
}

.column-nav {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #fafbfb;
  border-bottom: 1px solid #f3f4f4;
}

.nav-arrow {
  width: 30px;
  position: relative;
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 3px;
}

.nav-arrow[disabled] {
  background-color: transparent;
}

.nav-arrow[disabled]:hover {
  background-color: transparent;
}

.nav-arrow[disabled]:after,
.nav-arrow[disabled]:before {
  background-color: rgba(0, 0, 0, 0.15);
}

.nav-arrow:hover {
  background-color: rgba(0, 0, 0, 0.045);
}

.nav-arrow:after {
  content: "";
  width: 1px;
  height: 8px;
  background-color: #283636;
  transform: rotate(45deg);
  position: absolute;
  right: 14px;
  top: 12px;
}

.nav-arrow:before {
  content: "";
  width: 1px;
  height: 8px;
  background-color: #283636;
  transform: rotate(-45deg);
  position: absolute;
  right: 14px;
  top: 7px;
}

.left-nav-arrow {
  transform: rotate(180deg);
}

.column-configuration-body {
  padding: 14px 16px;
}

.configuration-body {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.configuration-body label:not(.input-container),
.configuration-body .label {
  width: 80px;
  flex-shrink: 0;
  color: #283636;
  font-weight: 400;
}

.select-input-container {
  position: relative;
}

.select-input-container:after {
  content: "";
  width: 1px;
  height: 5px;
  background-color: #9fa5a5;
  transform: rotate(45deg);
  position: absolute;
  right: calc(5px + 8px);
  top: 12px;
  pointer-events: none;
}

.select-input-container:before {
  content: "";
  width: 1px;
  height: 5px;
  background-color: #9fa5a5;
  transform: rotate(-45deg);
  position: absolute;
  right: calc(8px + 8px);
  top: 12px;
  pointer-events: none;
}

/*-- Toggle styles --*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 12px;
}

.switch.disabled .slider {
  box-shadow: 0 0 0 1px #d1d4d4;
  background-color: #fff;
  cursor: not-allowed;
}

.switch.disabled .slider:before {
  box-shadow: 0 0 0 1px #d1d4d4;
  background-color: #f3f4f4;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 0 1px #283636;
  background-color: #fff;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 0;
  bottom: 0;
  box-shadow: 0 0 0 1px #283636;
  background-color: white;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #283636;
}

input:focus + .slider {
  box-shadow: 0 0 0 1px #283636;
}

input:checked + .slider:before {
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
