body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.figma-light {
  color-scheme: light;
}

.figma-dark {
  color-scheme: dark;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--figma-color-bg);
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--figma-color-text-tertiary);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--figma-color-text-tertiary);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--figma-color-text-tertiary);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: var(--figma-color-text-tertiary);
}

h4 {
  color: var(--figma-color-text);
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 11px;
  font-weight: 700;
}

h6 {
  font-weight: 400;
  color: var(--figma-color-text-secondary);
  margin: 0 0 10px;
  line-height: 14px;
}

select {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  height: 28px;
  padding: 0 32px 0 8px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid var(--figma-color-border);
  background-color: var(--figma-color-bg);
  font-size: 11px;
  color: var(--figma-color-text);
  appearance: none;
}

a {
  color: var(--figma-color-text-brand);
}

select:focus {
  border: 1px solid #18a0fb;
  box-shadow: 0 0 0 1px #18a0fb;
  outline: none;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--figma-color-border);
}

table tr {
  border: none;
  display: flex;
}

table td {
  padding: unset;
  width: 26px;
  height: 26px;
  padding-right: 6px;
  padding-bottom: 6px;
  box-sizing: content-box;
}

.resizer {
  z-index: 99;
  cursor: nwse-resize;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 14px;
  width: 14px;
  transition: all 0.1s ease;
  opacity: 0.4;
}

.tab-navigation {
  height: 40px;
  display: flex;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: var(--figma-color-bg);
  list-style-type: none;
  border-bottom: 1px solid var(--figma-color-border);
  font-size: 11px;
  color: var(--figma-color-text-disabled);
  gap: 0px;
}

.tab-navigation:hover .language-beta-tab {
  opacity: 1;
}

.tab-navigation-tab {
  display: grid;
  place-items: center;
  padding: 10px;
  min-width: 35px;
  transition: opacity 0.75 ease-out;
}

.back-tab {
  opacity: 0.55;
}

.figma-dark .back-tab {
  filter: invert(1);
}

.back-tab:hover {
  opacity: 1;
}

.tab-navigation-tab:not(.active) {
  cursor: pointer;
}

.tab-navigation-tab.active {
  font-weight: 600;
  color: var(--figma-color-text);
}

.dimensions-selection-container,
.language-linter-container {
  padding: 23px;
  flex-grow: 1;
}

.linter-is-loading .suggestions-empty-state {
  display: none;
}

.input__radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

table input[type="radio"] ~ label {
  width: 26px;
  height: 26px;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #cdd3d5;
  position: absolute;
}

.figma-dark table input[type="radio"] ~ label {
  box-shadow: 0 0 0 1px rgb(127 127 127 / 50%);
}

table input[type="radio"] ~ label:hover {
  cursor: pointer;
}

table.hovered input[type="radio"] ~ label.hovered {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.315);
}

.figma-dark table.hovered input[type="radio"] ~ label.hovered {
  background-color: #404040;
  box-shadow: 0 0 0 1px #7b838a;
}

table input[type="radio"] ~ label.active {
  background-color: #fff;
  box-shadow: 0 0 0 2px var(--figma-color-border-selected);
}

.figma-dark table input[type="radio"] ~ label.active {
  background-color: var(--figma-color-bg);
}

table.hovered input[type="radio"] ~ label.active.hovered {
  background-color: #e1edff;
  box-shadow: 0 0 0 2px var(--figma-color-border-selected);
}

.figma-dark table.hovered input[type="radio"] ~ label.active.hovered {
  background-color: #103156;
}

.input-container {
  display: flex;
  user-select: none;
  align-items: center;
  padding-right: 8px;
  border: 1px solid transparent;
  height: 28px;
  margin: 1px 0;
  box-sizing: border-box;
  border-radius: 2px;
}

.column-configuration-body .input-container {
  padding-right: 0;
}

.table-dimensions-config .input-container {
  padding-left: 8px;
  grid-column-end: span 4;
}

.table-dimensions-config .input-container:hover {
  border: 1px solid var(--figma-color-border);
}

.input-container label:not(.input-container),
.input-container .label {
  display: flex;
  align-items: center;
  height: 32px;
  font-size: 11px;
  color: var(--figma-color-text-secondary);
  text-align: left;
}

.table-dimensions-config .input-container input {
  border: 1px solid transparent;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 1px;
}

.table-dimensions-config .input-container focus {
  border-color: transparent;
}

.input-container input {
  color: var(--figma-color-text);
  border-radius: 2px;
  cursor: default;
  box-sizing: border-box;
  background-clip: padding-box;
  border: 1px solid var(--figma-color-border);
  font-size: 11px;
  background-color: transparent;
  width: 100%;
  padding: 0 0 0 7px;
  padding-left: 7px;
  height: 28px;
  background-clip: padding-box;
  min-width: 0;
}

.input-container input:focus {
  outline: none;
  border: 1px solid var(--figma-color-border-selected);
  box-shadow: 0 0 0 1px var(--figma-color-border-selected);
}

.input-container h5.label {
  padding: 0;
}

.table-dimensions-config {
  display: flex;
  width: calc(100% + 8px);
  margin-bottom: 16px;
  position: relative;
  right: 8px;
  gap: 8px;
}

.table-dimensions-config .input-container {
  flex-grow: 1;
}

.table-dimensions-config .input-container input:focus {
  outline: none;
  border: 1px solid transparent;
  box-shadow: none;
}

.number-of-cols,
.number-of-rows {
  border: none;
}

.number-of-cols:focus,
.number-of-rows:focus {
  outline: none;
}

.cta-container {
  width: 84%;
  display: flex;
  gap: 8px;
  position: absolute;
  box-sizing: border-box;
  right: 23px;
  bottom: 23px;
  justify-content: flex-end;
}

.dimensions-cta-container {
  align-items: center;
  justify-content: space-between;
}

.dimensions-cta-container h6 {
  margin: 0;
  color: var(--figma-color-text-tertiary);
}

.input-container input[type="checkbox"] {
  height: auto;
  width: auto;
  margin: 0;
}

.input-container :where(input[type="checkbox"]:hover, label[for]:hover) {
  cursor: pointer;
}

.input-container input[type="checkbox"][disabled] {
  cursor: not-allowed;
}

.dimensions-cta-container .input-container {
  height: auto;
  gap: 4px;
}

.tooltip-trigger {
  display: block;
  width: 16px;
  height: 16px;
  margin-left: 6px;
  background-image: url("../assets/icon-info.svg");
}

.tooltip-trigger:hover ~ .tooltip {
  display: block;
}

.tooltip {
  width: 133px;
  display: none;
  position: absolute;
  bottom: 25px;
  color: rgb(255 255 255 / 90%);
  font-size: 11px;
  background-color: rgb(0 0 0 / 75%);
  border-radius: 3px;
  padding-inline: 10px;
  left: 50px;
  line-height: 135%;
  padding-block: 6px;
  backdrop-filter: blur(5px);
  text-align: center;
}

.tooltip:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 41.5px;
  left: 65px;
  display: block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid rgb(0 0 0 / 75%);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--figma-color-text);
  font-weight: 500;
  text-align: center;
  flex-shrink: 0;
  height: 32px;
  line-height: 30px;
  max-width: 200px;
  padding: 0 11px;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid var(--figma-color-text);
  background-clip: padding-box;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.053px;
  cursor: pointer;
  transition: background-color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.btn:hover {
  background-color: var(--figma-color-bg-brand-hover);
}

.btn:active {
  background-color: var(--figma-color-bg-brand-pressed);
}

.btn-primary {
  background-color: var(--figma-color-bg-brand);
  border-color: transparent;
  color: var(--figma-color-text-onbrand);
  background-clip: border-box;
}

button[disabled] {
  border-color: var(--figma-color-border-disabled-strong);
  color: var(--figma-color-text-disabled);
  cursor: not-allowed;
  background-color: transparent;
}

.column-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 10px 6px;
  border-radius: 3px;
  background-color: var(--figma-color-bg-secondary);
}

.nav-arrow {
  width: 30px;
  position: relative;
  appearance: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 3px;
}

.figma-dark .nav-arrow {
  filter: invert(1);
}

.nav-arrow[disabled] {
  background-color: transparent;
}

.nav-arrow[disabled]:hover {
  background-color: transparent;
  cursor: not-allowed;
}

.figma-dark .nav-arrow[disabled]:hover {
  background-color: rgb(255 255 255 / 0%);
}

.figma-dark .nav-arrow:hover {
  background-color: rgb(255 255 255 / 15%);
}

.nav-arrow[disabled] {
  opacity: 0.1;
}

.nav-arrow:hover {
  background-color: var(--figma-color-bg-hover);
  cursor: pointer;
}

.left-nav-arrow {
  background-image: url("../assets/icon-chevron-left.svg");
}

.right-nav-arrow {
  background-image: url("../assets/icon-chevron-right.svg");
}

.column-configuration-body {
  padding: 20px 23px;
}

.configuration-body {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.configuration-body label:not(.input-container),
.configuration-body .label {
  width: 106px;
  flex-shrink: 0;
  color: var(--figma-color-text);
  font-weight: 400;
}

.configuration-body .input-container.disabled label {
  color: var(--figma-color-text-disabled);
  cursor: not-allowed;
}

.select-input-container {
  position: relative;
}

.select-input-container:after {
  content: "";
  inline-size: 7.5px;
  block-size: 4px;
  background-image: url("../assets/icon-chevron-down.svg");
  position: absolute;
  right: calc(5px + 8px);
  top: 12px;
  pointer-events: none;
}

.figma-dark .select-input-container:after {
  filter: invert(1);
}

.disabled .select-input-container:after {
  opacity: 0.5;
}

.column-configuration-input[disabled] {
  background-color: var(--figma-color-bg-disabled);
  border-color: var(--figma-color-bg-disabled);
  color: var(--figma-color-text-disabled);
}

.column-configuration-input[disabled]:hover {
  cursor: not-allowed;
}

/*-- Toggle styles --*/
/* The switch - the box around the slider */
.ui-switch {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 12px;
}

.ui-switch.disabled .slider {
  box-shadow: 0 0 0 1px #d1d4d4;
  background-color: var(--figma-color-bg-disabled);
  cursor: not-allowed;
}

.ui-switch.disabled .slider:before {
  background-color: var(--figma-color-icon-disabled);
}

/* Hide default HTML checkbox */
.ui-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--figma-color-icon-tertiary);
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 1px;
  bottom: 1px;
  background-color: var(--figma-color-icon-onbrand);
  transition: 0.2s;
}

input:checked + .slider {
  background-color: var(--figma-color-bg-brand);
}

input:checked + .slider:before {
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*-- Language linter --*/

.language-linter-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.language-linter-container.empty-state-active,
.language-linter-container.linter-is-loading {
  padding-block-start: 0;
}

.selection-has-changed {
  padding-bottom: 70px;
}

.suggestions-empty-state,
.suggestion-list {
  flex-grow: 1;
}

.text-layer-nav {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 8px 6px;
  border-radius: 3px;
  background-color: var(--figma-color-bg-secondary);
}

.language-beta-tab {
  opacity: 0;
  transition: 0.05s opacity ease-out;
}

.language-beta-tab.active {
  opacity: 1;
}

.try-web-version {
  font-size: 12px;
  color: var(--figma-color-text-brand);
  text-decoration: none;
  display: flex;
  gap: 6px;
  align-items: baseline;
  justify-content: center;
}

.external-link-icon {
  position: relative;
  top: 1px;
  fill: var(--figma-color-text-brand);
}

.empty-state-active .try-web-version {
  position: absolute;
  bottom: 24px;
}

/*-- 
These rules have extra specificity to override the styles
that are included in the new-relic-language-linter NPM
package.
--*/
li.suggestion-container {
  border: 1px solid rgb(127 127 127 / 30%);
  background-color: var(--figma-color-bg);
}

li.suggestion-container:hover,
li.suggestion-container:not(.active-suggestion):hover {
  border: 1px solid rgb(127 127 127 / 50%);
}

p.suggestion-description-text,
span.suggestion-summary-current-text,
div.summary-basic,
h5.suggestion-rule-actual {
  color: var(--figma-color-text);
}

h6.suggestion-rule-label,
.active-suggestion-summary h6.suggestion-rule-label,
.active-suggestion-summary h6.suggestion-rule-label:before,
button.suggestion-cta-secondary,
div .suggestion-cta-secondary {
  color: var(--figma-color-text-secondary);
}

button.suggestion-cta-secondary:hover,
a.suggestion-cta-secondary:hover {
  background-color: var(--figma-color-bg-hover);
}

.figma-dark div .suggestion-cta-secondary img,
.figma-dark div .suggestion-cta-secondary img {
  filter: invert() brightness(1.25);
}

div.suggestion-summary-replacements-container:after {
  background-image: linear-gradient(
    to right,
    rgba(255 255 255 / 0),
    var(--figma-color-bg)
  );
}

div.suggestion-summary-replacements-container:before {
  background-image: linear-gradient(
    to left,
    rgba(255 255 255 / 0),
    var(--figma-color-bg)
  );
}

p.suggestion-description-text a {
  color: var(--figma-color-text-brand);
}

div .suggestion-summary-replacement {
  background-color: var(--figma-color-bg-brand);
}

div .suggestion-summary-replacement:hover {
  background-color: var(--figma-color-bg-brand-hover);
}

div .suggestion-summary-replacements.no-replacement {
  box-shadow: inset 0 0 0 1px var(--figma-color-border);
  color: var(--figma-color-text);
}

ul.suggestion-list {
  margin-top: 4px;
}

div.suggestions-empty-state {
  border-color: var(--figma-color-border);
}

.suggestions-empty-state .empty-state-heading {
  color: var(--figma-color-text);
}

.suggestions-empty-state .empty-state-description {
  color: var(--figma-color-text-secondary);
}

.suggestions-empty-state .empty-state-description a {
  color: var(--figma-color-text-brand);
}

.layer-selection-dropdown-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4px;
}

.language-linter-nav-layer-pagination-count {
  font-size: 10px;
  color: var(--figma-color-text-tertiary);
}

/*-- Home --*/

.home-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 12px;
  padding: 24px;
  position: relative;
}

.plugin-tile-container {
  display: flex;
  gap: 14px;
  flex-direction: row;
  align-items: center;
  padding: 14px 16px;
  background: var(--figma-color-bg);
  border: 1px solid #d1d4d4;
  box-sizing: border-box;
  border-radius: 3px;
  transition: all 0.075s ease-out;
}

.figma-dark .plugin-tile-container {
  border-color: rgba(255 255 255 / 25%);
}

.plugin-tile-container:hover {
  transform: translateY(-1px);
  cursor: pointer;
  border-color: rgba(0 0 0 / 30%);
}

.figma-dark .plugin-tile-container:hover {
  border-color: rgba(255 255 255 / 45%);
}

.plugin-tile-container:active {
  transform: translateY(1px);
}

.plugin-tile-icon {
  flex-shrink: 0;
  width: 34px;
  height: 34px;
}

.table-creator .plugin-tile-icon {
  background-image: url("../assets/icon-table-creator.svg");
}

.figma-dark .table-creator .plugin-tile-icon {
  background-image: url("../assets/icon-dark-table-creator.svg");
}

.theme-switcher .plugin-tile-icon {
  background-image: url("../assets/icon-theme-switcher.svg");
}

.figma-dark .theme-switcher .plugin-tile-icon {
  background-image: url("../assets/icon-dark-theme-switcher.svg");
}

.design-linter .plugin-tile-icon {
  background-image: url("../assets/icon-design-linter.svg");
}

.figma-dark .design-linter .plugin-tile-icon {
  background-image: url("../assets/icon-dark-design-linter.svg");
}

.plugin-tile-copy {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.plugin-tile-heading {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: var(--figma-color-text);
}

.plugin-tile-description {
  margin: 0;
  font-size: 11px;
  line-height: 140%;
  color: var(--figma-color-text-secondary);
}

.home-support {
  position: absolute;
  bottom: 24px;
  margin: 0;
  font-size: 11px;
  line-height: 140%;
  color: var(--figma-color-text-secondary);
  text-align: center;
  width: calc(100% - 48px);
}

.home-support a {
  color: var(--figma-color-text-brand);
}

/*-- Color linter --*/

.color-linter-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
  padding: 24px;
  overflow: auto;
  max-height: calc(100% - 105px);
}

.summary-is-loading,
.no-selection-made,
.empty-state-active,
.linter-is-loading {
  display: grid;
  place-items: center;
  height: 100%;
}

.color-linting-summary-heading {
  margin: 0 0 8px;
  font-size: 18px;
  color: var(--figma-color-text);
  font-weight: 600;
}

.color-linting-summary-description {
  margin: 0;
  line-height: 145%;
  font-size: 13px;
  color: var(--figma-color-text-secondary);
}

.color-tiles-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.color-tile-container {
  border: 1px solid rgb(150 150 150 / 45%);
  border-radius: 4px;
  background-color: var(--figma-color-bg);
  transition: all 0.095s ease-out;
}

.color-tile-container.expanded {
  box-shadow: 0 0 0 3px var(--figma-color-bg-brand-tertiary);
  border-color: var(--figma-color-border-onbrand);
}

.color-tile-container.expanded:hover {
  box-shadow: 0 0 0 3px var(--figma-color-bg-brand-tertiary);
  border-color: var(--figma-color-border-onbrand);
}

.color-tile-container.issue-fixed {
  background-color: var(--figma-color-bg);
  border: 1px solid var(--figma-color-border-onsuccess);
}

.color-tile-container.issue-fixed:hover {
  border: 1px solid var(--figma-color-border-onsuccess);
  box-shadow: 0 0 0 3px rgb(0 125 50 / 8%);
}

.color-tile-container.issue-fixed.expanded,
.color-tile-container.issue-fixed.expanded:hover {
  box-shadow: 0 0 0 3px rgb(0 125 50 / 8%);
  border: 1px solid var(--figma-color-border-onsuccess);
}

.color-tile-container:hover {
  border-color: rgb(150 150 150 / 60%);
  transform: translateY(-1px);
  cursor: pointer;
  box-shadow: 0 2px 0 rgb(0 0 0 / 3%), 0 1px 3px rgba(0 0 0 / 1%),
    0 8px 7px rgba(0 0 0 / 2%);
  position: relative;
  z-index: 10;
}

.color-tile-hover-state-disabled.color-tile-container:hover {
  border: 1px solid var(--figma-color-border-disabled);
  transform: translateY(0px);
  cursor: pointer;
  box-shadow: none;
}

.color-tile-container:active {
  transform: translateY(1px);
  box-shadow: 0 1px 0 rgb(0 0 0 / 5%);
}

.color-tile-header {
  display: flex;
  flex-direction: column;
  padding: 10px 16px 12px;
  gap: 7px;
}

.color-tile-title-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.custom-layer-icon {
  display: block;
  margin-right: 7px;
  opacity: 0.5;
}

.figma-dark .color-tile-meta-layer-name-item img,
.figma-dark .color-tile-meta-layer-name-item .icon {
  filter: invert(1);
}

.icon.layer-icon {
  margin-right: 7px;
  background-position: center;
  height: 17px;
  width: 17px;
  transform: scale(0.75);
  margin-left: -2px;
  opacity: 0.65;
}

.color-tile-heading {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: var(--figma-color-text);
}

.issue-fixed .color-tile-heading {
  color: var(--figma-color-text-success);
}

.color-tile-meta-list {
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 14px;
  list-style-type: none;
}

.color-tile-meta-list-item {
  font-size: 12px;
  color: var(--figma-color-text-secondary);
}

.issue-fixed .color-tile-meta-list-item {
  color: var(--figma-color-text-success-secondary);
}

.color-tile-meta-list-item:not(:last-child):after {
  content: "/";
  margin-left: 14px;
  user-select: none;
  color: var(--figma-color-border);
}

.issue-fixed .color-tile-meta-list-item:not(:last-child):after {
  color: var(--figma-color-text-success-tertiary);
}

.color-tile-meta-layer-name-item {
  display: flex;
  align-items: center;
}

.color-tile-meta-layer-name {
  flex-shrink: 0;
}

.color-tile-meta-color {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.color-tile-color-sample {
  display: inline-block;
  margin-right: 6px;
  background-color: rgba(255 255 255 / 100%);
  height: 10px;
  width: 10px;
  box-shadow: inset 0 0 0 1px rgb(150 150 150 / 25%);
  border-radius: 2px;
}

.btn-color-tile-menu {
  display: block;
  width: 23px;
  height: 16px;
  position: relative;
  left: 6px;
  background-image: url("../assets/icon-more.svg");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 3px;

  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}

.menu-active .btn-color-tile-menu {
  background-color: var(--figma-color-bg-secondary);
  cursor: pointer;
}

.btn-color-tile-menu:hover {
  background-color: var(--figma-color-bg-tertiary);
  cursor: pointer;
}

.suggested-color-styles-container {
  display: none;
  flex-direction: column;
  gap: 12px;
  background-color: var(--figma-color-bg);
  padding: 12px 16px;
  overflow: hidden;
  border-radius: 0 0 3px 3px;
  border-top: 1px dotted var(--figma-color-border);
}

.suggested-color-styles-container:hover {
  cursor: default;
}

.expanded .suggested-color-styles-container {
  display: flex;
}

.suggested-color-style-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.suggested-color-style-heading {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  color: var(--figma-color-text);
}

.btn-suggested-color-style-help {
  width: 18px;
  height: 18px;
  background-image: url("../assets/icon-help.svg");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  opacity: 0.9;

  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}

.btn-suggested-color-style-help:hover {
  cursor: pointer;
  opacity: 1;
}

.suggested-color-style-list {
  display: block;
  padding: 0;
  list-style-type: none;
  background-color: var(--figma-color-bg);
  border: 1px solid var(--figma-color-border);
  border-radius: 3px;
}

.suggested-color-style-list-item {
  display: flex;
  flex-direction: row;
  gap: 9px;
  position: relative;
  align-items: center;
  padding: 10px 12px 8px;
  font-size: 12px;
  color: var(--figma-color-text-secondary);
  border-bottom: 1px solid var(--figma-color-border);
}

.suggested-color-style-list-item:hover {
  background-color: var(--figma-color-bg-hover);
  cursor: pointer;
}

.suggested-color-style-primary-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
}

.suggested-color-style-heading {
  display: flex;
  flex-direction: row;
}

.suggested-color-style-heading {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 6px;
  align-items: center;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  color: var(--figma-color-text);
}

.suggested-color-style-description {
  margin: 0;
}

.btn-suggested-color-style-cta {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 16px 0 24px;
  font-size: 12px;
  opacity: 0;
  color: var(--figma-color-text-brand);
  border: none;
  background-color: transparent;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--figma-color-bg-secondary) 20%
  );
  transition: opacity 0.075s ease-out;
  cursor: pointer;
}

.suggested-color-style-list-item:hover .btn-suggested-color-style-cta {
  opacity: 1;
}

.suggested-color-style-list-item:last-child {
  border: none;
}

.suggested-color-style-sample {
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgb(150 150 150 / 25%);
}

.color-linting-footer,
.language-linting-footer {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--figma-color-bg);
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid var(--figma-color-border);
  padding: 16px 24px;
  gap: 8px;
}

.language-linting-footer {
  justify-content: space-between;
  align-items: center;
}

.color-tile-menu {
  display: none;
  min-width: 125px;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: -7px;
  z-index: 1000;
  padding: 8px 0;
  background-color: #242323;
  color: #fff;
  gap: 8px;
  border-radius: 2px;
}

.menu-active .color-tile-menu {
  display: flex;
}

.color-tile-menu-items {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}

.color-tile-menu-item {
  font-size: 12px;
  padding: 5px 14px;
}

.color-tile-menu-item a {
  color: #fff;
  text-decoration: none;
}

.color-tile-menu-item:hover {
  background-color: #18a0fb;
}

.color-tile-menu hr {
  background-color: #414646;
  height: 1px;
  border: none;
  margin: 0;
}

.color-empty-state-container {
  display: grid;
  place-items: center;
  text-align: center;
  max-width: 90%;
}

.color-empty-state-heading {
  font-weight: 600;
  font-size: 14px;
  color: var(--figma-color-text);
}

.color-empty-state-description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--figma-color-text-secondary);
}

.color-empty-state-container .btn {
  margin-top: 10px;
}

.color-loader,
.theme-switcher-loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid;
  border-color: var(--figma-color-bg-tertiary);
  border-right-color: var(--figma-color-icon-secondary);
  animation: spin 1s infinite linear;

  margin-bottom: 10px;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

/*-- Theme switcher styles --*/
.theme-switcher-container {
  gap: 12px;
  padding: 24px;
}

.theme-switcher-heading {
  margin: 0 0 3px;
  font-size: 12px;
  color: var(--figma-color-text);
}

.theme-switcher-description {
  margin: 0;
  font-size: 11px;
  color: var(--figma-color-text-secondary);
}

.theme-selection-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 16px;
}

.theme-selection-option {
  position: relative;
  border-radius: 4px;
  border: 1px solid rgb(127 127 127 / 35%);
  transition: all 0.075s ease-out;
}

.theme-selection-option:hover {
  border: 1px solid rgb(127 127 127 / 50%);
  cursor: pointer;
}

.theme-selection-option:hover .theme-selection-thumbnail-image {
  border-bottom: 1px solid rgb(127 127 127 / 50%);
  cursor: pointer;
}

.theme-selection-input {
  accent-color: var(--figma-color-text-brand);
}

.theme-selection-input-label {
  display: flex;
  flex-direction: column;
  color: var(--figma-color-text);
}

.theme-selection-input-label:hover {
  cursor: pointer;
}

.theme-selection-input {
  position: absolute;
  bottom: 9px;
  right: 8px;
}

.theme-selection-thumbnail-image {
  border-bottom: 1px solid rgb(127 127 127 / 35%);
}

.theme-selection-label-text {
  padding: 8px 10px;
  font-size: 12px;
  color: var(--figma-color-text);
  font-weight: 500;
}

[class*="modal--frame"] {
  opacity: 0.3;
}

.theme-switcher-loader {
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: -2px;
  right: 10px;
  background-color: var(--figma-color-bg);
  animation: spin 0.5s infinite linear;
}
